                html,
            body,
            div,
            span,
            applet,
            object,
            iframe,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            blockquote,
            pre,
            a,
            abbr,
            acronym,
            address,
            big,
            cite,
            code,
            del,
            dfn,
            em,
            img,
            ins,
            kbd,
            q,
            s,
            samp,
            small,
            strike,
            strong,
            sub,
            sup,
            tt,
            var,
            b,
            u,
            i,
            center,
            dl,
            dt,
            dd,
            ol,
            ul,
            li,
            fieldset,
            form,
            label,
            legend,
            table,
            caption,
            tbody,
            tfoot,
            thead,
            tr,
            th,
            td,
            article,
            aside,
            canvas,
            details,
            embed,
            figure,
            figcaption,
            footer,
            header,
            hgroup,
            menu,
            nav,
            output,
            ruby,
            section,
            summary,
            time,
            mark,
            audio,
            video {
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
            }
            
            html {
                height: 100%;
            }
            
            body {
                height: 100%;
                font: 14px/18px 'Roboto';
                background-color: #ebebeb;
            }
            
            ol,
            ul {
                list-style: none;
            }
            
            * {
                margin: 0;
                padding: 0;
                outline: none;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            
            a,
            a:hover {
                text-decoration: none;
            }
            
            .clearfix:before,
            .clearfix:after {
                content: " ";
                display: table;
            }
            
            .clearfix:after {
                clear: both;
            }
            
            .left {
                float: left;
            }
            
            .right {
                float: right;
            }
            
            .container {
                width: 75%;
                margin: 0 auto;
            }
            
            #header {
                position: absolute;
                width: 100%;
                position: fixed;
            }
            
            #header.default {
                position: fixed;
                top: 0;
                background: #000;
                z-index: 5;
            }
            
            .nav {
                display: table;
                margin: 0 auto;
            }
            
            #home {
                height: 100vh;
                background: #777 url(img/skate.jpg) no-repeat center bottom;
                background-size: cover;
                padding-top: 15%;
                text-align: center;
            }
            
            .nav li {
                float: left;
                margin: 20px;
            }
            
            .nav a {
                text-transform: uppercase;
                font: 13px 'Roboto', sans-serif;
                color: rgba(250, 250, 250, 1);
                letter-spacing: 3px;
                font-weight: 100;
            }
            
            .nav a:hover {
                color: #F06000;
            }
            
            #home h1 {
                color: #f8f8f8;
                font: 60px 'Roboto';
                margin: 0;
                font-weight: 300;
            }
            
            #home h3 {
                color: #f8f8f8;
                font: 20px 'Roboto';
                margin-top: 40px;
                font-weight: 300;
                margin-bottom: 20px;
            }
            
            #blink {
                opacity: 1;
                -webkit-animation: blink 0.7s infinite;
                -moz-animation: blink 0.7s infinite;
                animation: blink 0.7s infinite;
            }
            
            @keyframes blink {
                0% {
                    opacity: 1;
                }
                50% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            
            #btn {
                position: absolute;
                left: 49%;
                bottom: 30px;
                opacity: 0.2;
                display: block;
                vertical-align: baseline;
                transform: rotate(200grad);
            }
            
            #btn:hover {
                opacity: 1;
            }
            
            #about {
                height: 600px;
            }
            
            #about-left {
                background: #777 url(clouds.jpg) no-repeat center bottom;
                background-size: cover;
                width: 50%;
                float: left;
                height: 600px;
            }
            
            #about-right {
                background: #777 url(farmer.png);
                float: left;
                width: 50%;
                padding: 100px 100px;
                height: 600px;
            }
            
            #about h2 {
                font: 45px 'Pattaya', sans-serif;
                color: #222;
                font-stretch: expanded;
            }
            
            #about p {
                padding-top: 30px;
                font: 17px 'Roboto', sans-serif;
                font-weight: 300;
                line-height: 32px;
                color: #333;
            }
            
            .download {
                background-color: #555;
                padding: 15px 30px;
                font-size: 18px;
                font-family: 'Roboto';
                color: #fff;
                border-radius: 7px;
                float: left;
                margin-left: 150px;
                margin-top: 100px;
            }
            
            .download:hover {
                background-color: #fff;
                color: #000;
            }
            
            #circle {
                float: left;
            }
            
            .education h1 span {
                border-bottom: 3px solid #F06000;
                padding-bottom: 6px;
            }
            
            .education h1 {
                font: 18px/24px 'Roboto', sans-serif;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: bold
            }
            
            .twelve h3 {
                font: 25px/30px 'Roboto', sans-serif;
                color: #000;
            }
            
            .twelve .info {
                font: 16px/24px 'Roboto', serif;
                color: #6E7881;
                font-weight: 300;
                margin-bottom: 18px;
                margin-top: 9px;
            }
            
            .twelve .info span {
                margin-right: 5px;
                margin-left: 5px;
            }
            
            .twelve .date {
                font: 15px/24px 'Roboto', sans-serif;
                margin-top: 6px;
                font-weight: 300;
            }
            
            .twelve p {
                margin: 0 0 30px 0;
                color: #6E7881;
                font-weight: 300;
            }
            
            .education {
                float: left;
                width: 30%;
                height: 300px;
            }
            
            .twelve {
                float: left;
                margin-top: -20px;
                width: 70%;
                height: 150px;
            }
            
            #resume {
                padding-top: 100px;
                height: 1300px;
                background: #fff;
            }
            
            .second h3 {
                font: 25px/30px 'Roboto', sans-serif;
                color: #000;
            }
            
            .second .info {
                font: 16px/24px 'Roboto', serif;
                color: #6E7881;
                margin-bottom: 18px;
                margin-top: 9px;
                font-weight: 300;
            }
            
            .second .info span {
                margin-right: 5px;
                margin-left: 5px;
            }
            
            .second .date {
                font: 15px/24px 'Roboto', sans-serif;
                margin-top: 6px;
                font-weight: 300;
            }
            
            .second p {
                margin: 0 0 30px 0;
                color: #6E7881;
                font-weight: 300;
            }
            
            .second {
                float: left;
                width: 70%;
                height: 150px;
            }
            
            .one {
                height: 450px;
                padding-top: 200px;
                margin: 0 15%;
            }
            
            .two {
                height: 350px;
                padding-top: 40px;
                margin: 0 15%;
                margin-top: 50px;
            }
            
            .three {
                margin: 0 15%;
            }
            
            .skillbar {
                position: relative;
                display: inline-block;
                margin: 15px 0;
                background: #D3D3D3;
                height: 35px;
                border-radius: 3px;
                width: 60%;
            }
            
            .skillbar-title {
                position: absolute;
                top: 0;
                left: 0;
                width: 110px;
                font-weight: bold;
                font-size: 13px;
                color: #ffffff;
                background: #6adcfa;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                background: rgba(0, 0, 0, 0.1);
                padding: 0 20px;
                height: 35px;
                line-height: 35px;
            }
            
            .skillbar-bar {
                height: 35px;
                width: 0px;
                background: #6adcfa;
                border-radius: 3px;
                display: inline-block;
            }
            
            #portfolio {
                height: 1300px;
                background: #fff;
                padding-top: 100px;
            }
            
            #buy {
                width: 100%;
                height: 816px;
                background: #777 url(sky.jpg) no-repeat bottom;
                background-size: cover;
            }
            
            #mail {
                height: 900px;
                background: #222;
            }
            
            #mail label {
                font: 15px/24px 'Roboto', sans-serif;
                margin: 12px 0;
                color: #EBEEEE;
                display: inline-block;
                float: left;
                width: 150px;
                float: left;
            }
            
            #mail input,
            #mail textarea,
            #mail select {
                padding: 18px 20px;
                color: #eee;
                background: #555;
                margin-bottom: 42px;
                border: 0;
                outline: none;
                font-size: 15px;
                line-height: 24px;
                width: 70%;
                float: left;
            }
            
            #mail input:focus {
                background: #F06000;
            }
            
            #mail textarea:focus {
                background: #F06000;
            }
            
            .fields {
                padding: 0 10%;
                float: left;
                width: 80%;
                height: 650px;
                padding-top: 100px;
            }
            
            #mesimg h1 {
                padding-left: 70px;
                padding-top: 20px;
                font: 18px/36px 'Roboto', sans-serif;
                font-weight: bold;
                color: rgba(250, 250, 250, .5);
                float: left;
            }
            
            #mesimg img {
                float: left;
                width: 80px;
            }
            
            #mesimg {
                height: 130px;
            }
            
            .widget h4 {
                font: 16px/24px 'Roboto', sans-serif;
                color: #EBEEEE;
                margin-bottom: 6px;
            }
            
            .widget p {
                line-height: 30px;
                color: rgba(250, 250, 250, .5);
                font: 'Roboto', sans-serif;
            }
            
            .widget {
                float: left;
                height: 650px;
                width: 20%;
                padding-top: 230px;
                margin-left: -10%;
            }
            
            button {
                background: #000;
                padding: 15px 30px;
                font-size: 18px;
                font-family: 'Roboto';
                color: #fff;
                border-radius: 7px;
                float: left;
                margin-left: 150px;
                border: none;
            }
            
            button:hover {
                background-color: #ddd;
                color: #000;
            }
            
            .footer {
                background: #111;
                height: 100px;
            }
            
            .footer img {
                position: absolute;
                left: 50%;
                margin-top: -30px;
            }
            
            .images {}
            
            .workimg {
                width: 33.33%;
                float: left;
                padding: 10px;
            }
            
            .top {
                width: 100%;
                float: left;
                height: 100px;
                text-align: center;
                margin-bottom: 60px;
            }
            
            .top h1 {
                font: 40px 'Roboto', sans-serif;
                font-weight: 300;
                border-bottom: 4px double #F06000;
                border-radius: 25px;
                margin: 0 auto;
                padding: 10px 0;
                width: 350px;
            }
            
            #jsElements h1 {
                font: 30px 'Roboto', sans-serif;
                font-weight: 300;
                margin: 0px auto;
                margin-top: 80px;
                margin-bottom: 20px;
                text-align: center;
                color: #fff;
            }
            
            #jsElements h2 {
                font: 30px 'Roboto', sans-serif;
                color: #fff;
                font-weight: 300;
                margin: 20px auto;
                padding: 10px 0;
                text-align: center;
            }
            
            #jsElements h3 {
                font: 30px 'Roboto', sans-serif;
                font-weight: 300;
                margin: 0px auto;
                margin-top: 80px;
                margin-bottom: 20px;
                text-align: center;
                color: #fff;
            }
            
            #jsElements h4 {
                font: 40px 'Roboto', sans-serif;
                font-weight: 300;
                border-bottom: 4px double #F06000;
                border-radius: 25px;
                margin: 0 auto;
                margin-bottom: 50px;
                padding: 10px 0;
                width: 300px;
                text-align: center;
            }
            
            #submit {
                background: #fff;
                padding: 15px 0;
                width: 30%;
                font-size: 120%;
                font-family: 'Roboto';
                color: #000;
                border-radius: 7px;
                float: left;
                margin: 0 35%;
                margin-top: 30px;
                border: none;
            }
            
            #submit:hover {
                background: #000;
                color: #fff;
            }
            
            .data input,
            .data textarea,
            .data select {
                color: #000;
                background: #fff;
                border: 0;
                outline: none;
                font-size: 15px;
                border-radius: 5px;
                width: 100%;
                float: left;
                padding: 15px;
                margin: 1% 0;
            }
            
            #jsElements {
                padding: 100px 20%;
                background: #777 url(sky.jpg) no-repeat bottom;
                background-size: cover;
                color: #000;
            }
            
            .inputText {
                font: 17px 'Roboto', sans-serif;
                font-weight: 100;
                color: #fff;
            }
            
            #jsElements label {
                font: 17px 'Roboto', sans-serif;
                font-weight: 100;
                color: #fff;
            }
            
            .calc {
                background: rgba(0, 0, 0, .6);
                padding: 50px;
                border-radius: 30px;
            }
            
            .table {
                font: 17px 'Roboto', sans-serif;
                color: #fff;
                font-weight: 100;
                line-height: 1.3;
                padding-bottom: 30px;
            }
            
            .radios {
                font: 17px 'Roboto', sans-serif;
                color: #fff;
                font-weight: 100;
                line-height: 1.5;
                padding: 20px 0;
            }
            
            .radios h5 {
                font: 20px 'Roboto', sans-serif;
                font-weight: 100;
                line-height: 1;
                color: #fff;
            }
            
            @media only screen and (max-width: 1200px) {
                #resume {
                    height: 170vh;
                }
                .education h1 span {
                    border-bottom: 3px solid #F06000;
                    padding-bottom: 6px;
                }
                .education h1 {
                    font: 20px 'Roboto', sans-serif;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-weight: bold
                }
                .twelve h3 {
                    font: 20px 'Roboto', sans-serif;
                    color: #000;
                }
                .twelve .info {
                    font: 15px 'Roboto', serif;
                    color: #6E7881;
                    font-weight: 300;
                    margin-bottom: 18px;
                    margin-top: 9px;
                }
                .twelve .info span {
                    margin-right: 5px;
                    margin-left: 5px;
                }
                .twelve .date {
                    font: 15px 'Roboto', sans-serif;
                    margin-top: 6px;
                    font-weight: 300;
                }
                .twelve p {
                    margin: 0 0 30px 0;
                    color: #6E7881;
                    font-weight: 300;
                }
                .education {
                    float: left;
                    width: 100%;
                    height: 90px;
                    text-align: center;
                }
                .twelve {
                    float: left;
                    width: 100%;
                    height: 120px;
                    text-align: center;
                }
                .top {
                    width: 100%;
                    float: left;
                    height: 100px;
                    text-align: center;
                    margin-bottom: 60px;
                }
                .top h1 {
                    font: 35px 'Roboto', sans-serif;
                    font-weight: 300;
                    border-bottom: 4px double #F06000;
                    border-radius: 25px;
                    margin: 0 auto;
                    padding: 10px 0;
                    width: 350px;
                }
                #resume {
                    padding-top: 100px;
                    height: 1500px;
                    background: #fff;
                }
                .second h3 {
                    font: 25px/30px 'Roboto', sans-serif;
                    color: #000;
                }
                .second .info {
                    font: 16px/24px 'Roboto', serif;
                    color: #6E7881;
                    margin-bottom: 18px;
                    margin-top: 9px;
                    font-weight: 300;
                }
                .second .info span {
                    margin-right: 5px;
                    margin-left: 5px;
                }
                .second .date {
                    font: 15px/24px 'Roboto', sans-serif;
                    margin-top: 6px;
                    font-weight: 300;
                }
                .second p {
                    margin: 0 0 30px 0;
                    color: #6E7881;
                    font-weight: 300;
                }
                .second {
                    float: left;
                    width: 100%;
                    height: 150px;
                    text-align: center;
                }
                .one {
                    height: 450px;
                    padding-top: 200px;
                    margin: 0 15%;
                }
                .two {
                    height: 350px;
                    padding-top: 80px;
                    margin: 0 15%;
                    margin-top: 50px;
                }
                .three {
                    padding-top: 80px;
                }
                .skillbar {
                    position: relative;
                    display: inline-block;
                    margin: 15px 0;
                    background: #D3D3D3;
                    height: 35px;
                    border-radius: 3px;
                    width: 100%;
                }
                .skillbar-title {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 110px;
                    font-weight: bold;
                    font-size: 13px;
                    color: #ffffff;
                    background: #6adcfa;
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                    background: rgba(0, 0, 0, 0.1);
                    padding: 0 20px;
                    height: 35px;
                    line-height: 35px;
                }
                .skillbar-bar {
                    height: 35px;
                    width: 0px;
                    background: #6adcfa;
                    border-radius: 3px;
                    display: inline-block;
                }
                #portfolio {
                    height: 1050px;
                    background: #fff;
                    padding-top: 100px;
                }
                #mail {
                    height: 1000px;
                    background: #222;
                }
                #mail label {
                    font: 15px/24px 'Roboto', sans-serif;
                    margin: 12px 0;
                    color: #EBEEEE;
                    display: inline-block;
                    float: left;
                    width: 150px;
                    float: left;
                }
                #mail input,
                #mail textarea,
                #mail select {
                    padding: 18px 20px;
                    color: #eee;
                    background: #555;
                    margin-bottom: 42px;
                    border: 0;
                    outline: none;
                    font-size: 15px;
                    line-height: 24px;
                    width: 80%;
                    float: left;
                }
                #mail input:focus {
                    background: #F06000;
                }
                .fields {
                    padding: 0 10%;
                    float: left;
                    width: 80%;
                    height: 780px;
                    padding-top: 100px;
                }
                #mesimg h1 {
                    float: left;
                    font: 16px 'Roboto', sans-serif;
                    font-weight: bold;
                    color: rgba(250, 250, 250, .5);
                    width: 80%;
                }
                #mesimg img {
                    float: left;
                    width: 80px;
                }
                #mesimg {
                    height: 80px;
                    width: 100%;
                }
                .widget h4 {
                    font: 16px/24px 'Roboto', sans-serif;
                    color: #EBEEEE;
                    margin-bottom: 6px;
                }
                .widget p {
                    line-height: 30px;
                    color: rgba(250, 250, 250, .5);
                    font: 'Roboto', sans-serif;
                }
                .widget {
                    float: left;
                    height: 650px;
                    width: 20%;
                    padding-top: 230px;
                    margin-left: -10%;
                }
                .send {
                    background-color: #000;
                    padding: 15px 30px;
                    font-size: 18px;
                    font-family: 'Roboto';
                    color: #fff;
                    border-radius: 7px;
                    float: left;
                    margin-left: 100px;
                }
                .send:hover {
                    background-color: #ddd;
                    color: #000;
                }
                .sendbtn {
                    float: left;
                }
                #home {
                    padding-top: 30%;
                }
                .container {
                    width: 90%;
                    margin: 0 auto;
                }
